
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>

    <form action="" method="post">


        <input type="text" name="RestaurantName" class="form-control" placeholder="Restaurant Name" /> <br />
        <input type="text" name="RestaurantLocation" class="form-control" placeholder="Location" />  <br />
        <input type="text" name="RestaurantContactPerson" class="form-control" placeholder="Contact Person" />  <br />
        <input type="text" name="RestaurantContactNumber" class="form-control" placeholder="Contact Number" />  <br />
        <input type="email" name="RestaurantEmail" class="form-control" placeholder="Email Address" />  <br />
        <input type="hidden" name="RestaurantOwnerID" value="@Session["id"]" />  <br />

        <input type="submit" name="submit" class="btn btn-success" value="Add" />
    </form>


</body>
</html>
