
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/OuterRegistrationLayout.cshtml";
}

<h2>Login</h2>

<form action="" method="post">
    <input type="text" name="UserName" class="form-control" placeholder="Username" />
    <input type="password" name="Password" class="form-control" placeholder="Password" />
    <input type="submit" name="submit" class="btn btn-success" value="Sign In" />
</form>